.theme-default-content:not(.custom),
.page-edit,
.page-nav {
  max-width: 970px!important;
}

table {
  // width: 100%;
}
table thead,
table tbody {
  // display: inline-table;
  // width: 100%;
}

// flowchart
.vuepress-flowchart {
  overflow: hidden !important;
}


::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cbcbcb;
}

::-webkit-scrollbar-track-piece {
  background: #eee;
}